.postit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 340px;
    width: 340px;
    text-align: center;
    background: linear-gradient(192deg,rgb(195, 225, 241), rgb(167, 191, 243));
    border-radius: 3px;
    border: none;
    box-shadow: -6px 10px 13px rgba(0, 0, 0, 0.331);
    cursor: pointer;
}

.text{
    font-size: 50px;
    margin: 0;
    color: rgba(0, 0, 0, 0.748);
}
