.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 1000px;
  padding: 50px 0px;
  background: linear-gradient(192deg, rgb(234, 232, 222), rgb(211, 208, 190));
  border-radius: 10px;
  border: none;
  box-shadow: -6px 10px 13px rgba(0, 0, 0, 0.331);
}

.title {
  margin: 0px 0px 10px 0px;
  font-size: 4.5rem;
  color: rgba(0, 0, 0, 0.767);
}

.par {
  margin-top: 0;
  font-size: 2.5rem;
  color: gray;
}

@media (max-width: 1100px) {
  .main {
    width: 800px;
  }
}

@media (max-width: 850px) {
  .main {
    width: 600px;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 50%;
  }
  .main {
    width: 400px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
  .main {
    width: 300px;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 35%;
  }
  .main {
    width: 250px;
  }
}
